#calculator{
  border-radius: 5px;
  border: 2px solid rgb(169, 169, 169);
  width: 200px;


}

#display{
  margin: 10px;
  width: 85%;
  font-size: 30px;

}

.button{
  width: 45px;
  height: 45px;
  margin: 3px;
  border-radius: 2px;
  border: 2px solid black ;


}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
